body{
    background-color:rgb(8, 117, 145);
    color:rgb(7, 187, 241)
}
strong{
    color: rgb(158, 223, 243);
}
h1{
    margin: 50;
    padding: 30;
    text-align: center;
    color: rgb(11, 63, 175);
}
