body{
    background-color:rgb(41, 103, 238);
    color:rgb(7, 62, 243)
}
strong{
    color: rgb(19, 91, 173);
}
h1{
    margin: 100;
    padding: 4200;
    text-align: center;
    color: rgb(10, 47, 255);
}
