body{
    background-color:rgba(80, 26, 5, 0.993);
    color:rgb(255, 255, 255)
}
strong{
    color: rgba(255, 210, 9, 0.603);
}
h1{
    margin: 150;
    padding: 150;
    text-align:center;
    font-size: 150px;
    color: rgb(248, 248, 252);
}
grid-imagens{
    display:grid
    grid-template-columns:reapeat(z,1fr)
    gap: 150px;px;
}

.div1 {
    display: flex;
    flex-direction: column;
}

.img1 {
    padding-bottom: 20px;
}